#kronos {
    width: 160px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    background-color: #222222;
    display: none;
    border: 3px solid teal;
    z-index: 2147483647;
}